.authorizedLoginWrap {
  .head {
    display: flex;
    justify-content: center;
    padding-top: 135px;
    .ban {
      @include center;
      width: 589px;
      height: 460px;
      background: url("https://hsrj.oss-cn-shenzhen.aliyuncs.com/underline/zhiyou-miniprogram/bg_login_decoration.png")
        0 0 no-repeat;
      background-size: cover;
      .logo {
        display: flex;
        @include wh(160px, 160px);
        border-radius: 30px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 16px;
        box-sizing: border-box;
        image {
          position: relative;
          flex: 1;
          @include wh(100%, 100%);
          border-radius: 50%;
          overflow: hidden;
          display: block;
        }
      }
    }
  }
  .body {
    display: flex;
    flex-flow: column;
    padding: 147px 40px 0;
    button {
      width: 100%;
      background: #07c160;
      border: solid 2px #07c160;
      color: white;
      font-size: 30px;
      height: 80px;
      &:nth-child(2) {
        background: none;
        color: #07c160;
        margin-top: 40px;
      }
    }
  }
}
