.headerWarp {
  width: 100vw;
  background: #ff7113 url(https://hsrj.oss-cn-shenzhen.aliyuncs.com/underline/zy-mp/local/home/info_bg.png) 0 0
    no-repeat;
  background-size: 100% 100%;
  padding: 40px 50px 108px;
  box-sizing: border-box;
  .title {
    @include center;
    font-size: 36px;
    color: #ffffff;
    padding: 40px 0 0;
    font-weight: 500;
  }
  .userInfo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    .userInfo {
      display: flex;
      align-items: center;
      .user-img {
        position: relative;
        flex-shrink: 0;
        @include wh(120px, 120px);
        .image {
          overflow: hidden;
          border-radius: 50%;
          @include wh(120px, 120px);
        }
      }
      .user {
        width: 100%;
        color: #fff;
        margin-left: 20px;
        .name {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 380px;
          font-size: 34px;
          overflow: hidden;
          .user-name {
            @include single-ellipsis;
            width: auto;
            padding-right: 10px;
            box-sizing: border-box;
          }
          .btn {
            flex-shrink: 0;
            @include wh(36px, 36px);
            color: #fff;
            border-radius: 50%;
            padding: 0;
            background: url(https://hsrj.oss-cn-shenzhen.aliyuncs.com/underline/zy-mp/local/index/shuaxin.png) 0 0
              no-repeat;
            background-size: 100%;
            margin: 0;
          }
        }
        .phone {
          display: flex;
          align-items: center;
          font-size: 26px;
          .switching-accounts {
            display: flex;
            justify-content: center;
            align-items: center;
            @include wh(110px, 30px);
            font-size: 20px;
            border: 1px solid #fff;
            border-radius: 15px;
            margin-left: 20px;
          }
        }
        .headNum {
          font-size: 26px;
        }
      }
    }
    .user-code {
      @include wh(54px, 54px);
      .share-btn {
        @include wh(54px, 54px);
      }
    }
  }
}
